<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sql.tool.mapper.ToolMapper">

    <update id="updatesql" >
        update tc_rep_dataset set
        dataset_sql = #{clobsql,jdbcType=CLOB}
        where DATASET_CODE =  #{reportid}
    </update>

</mapper>